[submodule "alx-pre_course"]
	path = alx-pre_course
	url = https://github.com/Punisher006/alx-pre_course.git
[submodule "alx-zero_day"]
	path = alx-zero_day
	url = https://github.com/Punisher006/alx-zero_day.git
[submodule "alx-system_engineering-devops"]
	path = alx-system_engineering-devops
	url = https://github.com/Punisher006/alx-system_engineering-devops.git
